.header{
    background-image: url(./img/pattern.png);
    width:auto;
    height:200px;
}

.logo{
    background-image: url(./img/logo.svg);
    width: 25%;
    height: 25%;
    text-align: bottom;
}
