.header{
    background-image: url(./img/pattern.png);
    width:auto;
    height:200px;
}

.logo{
    background-image: url(./img/logo.svg);
    background-repeat: no-repeat;
    width: auto;
    height: 25%;
    
}

.booleaner{
    color:royalblue;
}