body{
    margin-top: 50px;
    margin-left:150px;
    margin-right: 150px;
}

.header{
    background-image: url(./img/pattern.png);
    width:auto;
    height:150px;
    background-color:cornflowerblue;
}

.logo{
    width: auto;
    height: 100px;
    margin-top:50px;
    
}

.booleaner{
    color:royalblue;
}

.padding_lista{
    padding-left:15px;
}

td{
    width:auto%;
    height: auto;
    text-align: center; 
}

span>a{
    text-decoration: none;
}


.tabella_lorem{
    border-spacing: 0px;
    text-align: left;;
}

.tabella_lorem tr:nth-child(even) {
     background-color:skyblue;
}
.tabella_lorem tr:nth-child(odd) {
     background-color: #F0F0F0;
     }

tr>th{
    color:white;
    background-color: royalblue;
    text-align: center;
}

#titolo_footer{
    color:gray;
}

.img_footer1{
    background-image: url(./img/monitor.jpg);
    width:150px;
    height:100px;
    background-size: cover;
    color:white;
    margin-bottom: 10px;
}

.img_footer2{
    background-image: url(./img/graph.jpg);
    width:150px;
    height: 100px;
    background-size: cover;
    color:white;
}
tr:nth-child(1){
    white-space: nowrap;
}
